<!-- mailru -->
<a target="_blank" class="mrc__plugin_uber_like_button" href="http://connect.mail.ru/share" data-mrc-config="{'cm':'2', 'ck':'2','sz':'20','st':'2','tp':'mm'}">Мой мир</a>
<!-- /mailru -->