<!-- twitter -->
  <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
  <a rel="nofollow" href="http://twitter.com/share" class="twitter-share-button" data-url=""  data-width="108" data-count="horizontal" data-lang="ru">Twitter</a>
  
  <script>
    twttr.events.bind('tweet', function (event) {
      alert('twitter. post was published.');
    });
  </script>
<!-- /twitter -->